/*font-family: 'Raleway', sans-serif;
font-family: 'Oswald', sans-serif;*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}

/*landing page */

.c-back {
	background-image: url("../images/c-back.jpg");
	background-size: cover;
}

#jumbo-land {
	height: 100vh;	
	background-image: url("https://wallpapercave.com/wp/wp2610910.png");	
	background-size: cover;
	/*background-color: #333; /*off-black*/
	padding-top: 20%;
	border-radius: 0; /*remove rounded corners of jumbotron*/
}

.nav-item:hover {
	background-color: #333;
}

.btn {
	left:50%;
	position: absolute;
	transform: translate(-50%);
}

.jumbotron h1 {
	font-family: 'Raleway', sans-serif;
	color: #000;
	font-weight: bold;
	text-shadow: 2px 2px 8px #DFE0E2;
}

.jumbotron hr {
	background-color: #fff;
}

.jumbotron p {
	color: #fff;
}

.btn a {
	text-decoration: none;
	color: #000;
}

/*end landing page*/

/*home page*/

#home-landing {
	background-color: #333;
	color: #fff;
	padding: 20%;
	background-image: url("https://images.wallpaperscraft.com/image/gray_black_shadow_surface_line_11284_1920x1080.jpg");
	background-size: cover;
}

#carousel-home {
	height: 80vh;
}

#carousel-home img {
	height: 70vh;
	max-height: 70vh
}

#image1 {
	background-size: cover;
	background-image: url("https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
	position: relative;
	background-attachment: fixed;
}

#image1 h1{
	color: #CFDEE7;
}

.card {
	background-color: transparent;
	border: 0;
}

#gallery-items-home .card {
	height: 33vh;

}

#gallery-items-home .card img{
	border-radius: 50%;
	border: 2px solid black;
	height: 50%;

}

#gallery-items-home h3 {
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}

/*end home page*/

/*about page*/
#jumbotron-about {
	background-color: #141414;
	height: 90vh;
	border-radius: 0;
}

#landing-about {
	color: #f2f2f2;
	font-size: 5rem;
	letter-spacing: 5px;
	font-family: 'Oswald', sans-serif;
	padding-top: 20vh;
}

#mission {
	height: 100%;
	background-image: url("https://wallpaper.wiki/wp-content/uploads/2017/04/wallpaper.wiki-Beautiful-Wallpapers-Full-HD-1080p-Download-PIC-WPD0012924.jpg");
	background-size: cover;
	background-attachment: fixed;
	color: #f2f2f2;
}

#vision {
	height: 100%;
	background-image: url("https://wallpapercave.com/wp/dxXh4Ss.jpg");
	background-size: cover;
	background-attachment: fixed;
	color: #f2f2f2;
}

.about-tags {
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
}

#team {
	background-image: url("http://hdwpro.com/wp-content/uploads/2018/10/Natural-1080p-Background.jpg");
	background-size: cover;
	background-attachment: fixed;
	color: white;
}

.team-name {
	text-shadow: 10px 10px 30px #141414;
	color: white;
}

.team-img1 {
	width: 20vh;
	border-radius: 50%;
	height: 20vh;
}

/*end about page*/

/*gallery page*/

#head-gall {
	margin-top: 8%;

	letter-spacing: 0.5em;
	background-color: #141414;
	color: #f2f2f2;
}

.active {
	border-bottom: 3px solid black;
}

#gallery-items .card {
	height: 35vh;

}

#gallery-items .card img{
	border-radius: 50%;
	border: 2px solid black;
	height: 80%;

}

#gal-container {
	background-image: url("https://media1.giphy.com/media/tcvY5P79UDllK/giphy.gif?cid=790b76115c9dbd4b483938394190038f");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.card-body {
	color: white;
}

#tank,
#fighter,
#assasin,
#mage,
#marksman,
#support h3 {
	font-weight: bolder;
	color: white;
}

/*end gallery page*/
/*contact page*/

#land-contact {
	background-color: #5E6472;
}

/*media query*/
/*mobile*/
@media only screen and (max-width: 400px) {
	#jumbo-land {
		padding-top: 50%;
	}
	#carousel-home {
	height: 60vh;
	}

	#carousel-home img {
	height: 50vh;
	max-height: 50vh
	}

}
/*table view*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
	#jumbo-land {
		padding-top: 50%;
	}
	#carousel-home {
	height: 50vh;
	}

	#carousel-home img {
	height: 40vh;
	max-height: 50vh
	}


}
/*desktop*/
@media only screen and (min-width: 961px) {
	
}

